<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 本项目在dubbox中的名称 -->
    <dubbo:application name="HelloApp"/>
    <!-- 注册中心地址 -->
    <dubbo:registry address="zookeeper://192.168.25.138:2181"/>
    <!-- 暴露服务的协议配置：
          name：暴露服务的协议名，支持dubbo、rmi、hessian、http、webservice、thrift、redis等，官方推荐使用dubbo
          port：暴露服务的端口号，默认20880
     -->
    <dubbo:protocol name="dubbo" port="20880"/>
    <!-- xml配置方式
       integerface：要发布的接口全路径
       ref：接口实现类实例
     -->
    <!--
        <dubbo:service interface="HelloService" ref="helloService"/>
        <bean id="helloService" class="HelloServiceImpl"/>
    -->
    <!-- 注解配置方式：
       package：服务实现类所在包名
     -->
    <dubbo:annotation package="com.pinyougou.dubbox.provider.service"/>

    <dubbo:provider timeout="50000"/>
</beans>
